/animations
/checkpoint_iceplume_nomf_iteration3349.jld2
/cmocean.m
/galap.nc
/galapagos_visual_shelfwind_attempt.m
/midy_real.nc
/midy_real_GPU.nc
/README.md
/shelfwind.jl
/shelfwind_actual_bathymetry.jl
/shelfwind_full_visualization.mp4
/shelfwind_visual_upwelling.m
/top_real.nc
/top_real_GPU.nc
/upwelling-in-the-galapagos-main
/upwelling_75m.nc
/upwelling_75m_GPU.nc
/wind_analysis.jl
/wind_data_regridded.nc
wind_data_4_years.nc
wind_data_regridded.nc
